header .brand{
    max-width: 9.7rem;
    height: auto;
}

header .join-btn{
    border-radius: 20px;
    background-color: #008080;
    color: white;
    outline: none;
    border: none;
    font-family: "Mulish", sans-serif;
    box-shadow: 3px 3px 20px 0px #00000034;
    transition: all 500ms;
    padding: 7px 20px;
}

header .join-btn:hover{
    box-shadow: 8px 8px 20px 0px #0000005d;
}

@media (max-width : 576px) {
    header .join-btn{
        font-size: 13px;
    }
}